/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a,.button {
    transition: all 0.3s ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
    /* padding: 20px 50px; */
    /* background-color: #333;*/
}
nav{
    justify-content: space-around; 
    align-items: center;
    height: 17vh;

}

.nav-links {
    list-style: none;
    /* display: flex; */
    gap: 6rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    text-decoration-color: white;
}

a:hover {
    color: #007bff;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.logo:hover {
    cursor: default;
    color: #05203b;
}

/* MOBILE NAV */

#mobile-nav {
    display: none;
}

.hamburger-menu{
    display: inline-block;
    position: relative;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    /* background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease; */
}

.hamburger-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    margin-bottom: 6px;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    /* padding: 20px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.menu-links a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px; /* Adjust based on the number of links */
}
.hamburger-icon span:first-child {
 transform: none;
}
.hamburger-icon span:first-child {
 opacity: 1;
}
.hamburger-icon span:first-child {
 transform: none;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
}

/* SECTIONS */


section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* PROFILE */

#profile {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    /* text-align: center; */
}

.section-pic-container {
    display: flex;
    height: 390px;
    width: 390px;
    margin: auto 0;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
    align-items: center;
    justify-content: center;
}
.section-pic-container img {
    width: 550px;
    height: 550px;
    /* margin: auto 0; */
}

.section-text-container{
    align-self: center;
    text-align: center;
    font-size: 12px;
}

.section-text-container p{
    font-weight: 600;
    /* margin: auto 0; */
}

.section-text-p1{
    text-align: center;
}
.section-text-p1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section-text-p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.title {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: -1.2rem;
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0,5rem;
    /* font-size: 5px; */
}


/* ICONS */

.icon{
    cursor: pointer;
    height: 2.3rem;
    width: 2.3rem;
}


/* BUTTONS */

.btn-container {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2.5rem;
    transition: all 0.3s ease;
}

.btn-1, .btn-2 {
    height: 45px;
    width: 180px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: black solid 2px;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #c5c3c4;
    
    color: rgb(7, 7, 7);
}
.btn-1:hover, .btn-2:hover {
    background-color: #5a878d;
}

/* SECTIONS */



/* #about,#contact,#projects,#experience {
    background-color: #f4f4f4;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    margin: 2rem auto;
    max-width: 700px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
    text-align: center;

}

#about h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #05203b;
}

#about p {
    font-size: 1.2rem;
    color: #333;
}  */


/* ABOUT SECTIONS */

#about{
    position: relative;
}
.about-container{
    gap:2rem;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.about-detailed-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;
}

.about-pic{
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 1.5rem;
    border: rgb(53, 53, 53) .1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container{
    gap:4rem;
    height: 80%;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}